<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.hardwork.onlinesocialdiagnosticapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.OnlineSocialDiagnosticApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo__google_play_store"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DiagnosticResult"></activity>
        <activity android:name=".DiagnosticRV" />
        <activity android:name=".Done" />
        <activity android:name=".Diagnostic" />
        <activity android:name=".Start" />
        <activity android:name=".Home" />
        <activity android:name=".SignInActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>