<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.hardwork.onlinesocialdiagnosticapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.OnlineSocialDiagnosticApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo__google_play_store"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.About"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.DiagnosticRV"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.Done"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.Diagnostic"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.Start"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.Home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.Settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SignInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>